body {
    font-family: 'Roboto', sans-serif;
}

.pokemon-button {
    border: 2px solid rgba(230, 100, 50, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-size: 22px;
    
    cursor: pointer;
    width: 30rem;
    padding: 12px;
    text-align: left;
}
.pokemon-button:hover {
    background-color: aliceblue;
}

li {
    list-style-type: none;
    margin: 15px;
}


.hidden {
    display: none;
}

@keyframes message {
    0% {
        background-color: rgba(230, 100, 50, 0.7);
    }
    50% {
        background-color: rgba(224, 119, 92, 0.705)
    }
    100% {
        background-color: rgba(230, 62, 50, 0.7);
    }
}

.message {
    display: none;
    background-color: rgba(230, 100, 50, 0.7);
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5rem;
    padding: 2% 1% 2% 1%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 5%;
}

.show {
    display: block;
}

.input-wrapper {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  min-width: 75px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

#modal-container {
    display: none;
  
}

#modal-container.is-visible {
    display: block;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
    z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
  
  /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
}

.pokemon-modal-img {
    border: solid 4px rgb(12, 30, 80);
    border-radius: 50%;
    padding: 5%;
}

header {
    display: flex;
    flex-flow: row nowrap;
}

fieldset {
    margin-left: 60%;
}

.pokemon-wrapper {
    margin: 0 30%;
}