/*

    {Pokemon Color Scheme
      Primary Red: #EE534F;
      Secondary Color: #FECA1C
      Text Color: #fff;
      Secondary Text Color: #3861A8
*/

body {
    font-family: 'Roboto', sans-serif;
}

.pokemon-button {
    border: 2px solid rgb(100, 150, 150);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-size: 22px;
    border-radius: 15px;
    cursor: pointer;
    width: 15rem;
    padding: 12px;
    text-align: center;
}
.pokemon-button:hover {
    background-color: aliceblue;
}

li {
    list-style-type: none;
    margin: 15px;
    text-transform: uppercase;
}


.show {
    display: block;
}

.input-wrapper {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  min-width: 75px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}


.modal {
  margin: auto;
  display: flex;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  border: 2px solid ;
  width: 25rem;
}

.pokemon-modal-img {
    border: solid 4px rgb(12, 30, 80);
    border-radius: 50%;
    padding: 5%;
}

header {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5%;
    padding-top: 2%;
    justify-content: center;
    background-color: #EE534F;
}

.poke-title {
  text-align: center;
  color: #fff;
  font-size: 48px;
}


/*//////////////////////// Responsive Design //////////////////////////////////*/

@media all and (min-width: 500px) and (max-width: 800px){
  header {
    width: 40rem;
  }
  .message {
    top: 90px;
    right: 5px;
  }

  .pokemon-button {
    width: 20rem;
  }
}

@media all and (max-width: 500px) {
  .pokemon-wrapper {
    margin: 0;
  }

  .pokemon-button {
    width: 15rem;
  }

  .message {
    width: 6rem;
    font-size: 14px;
    top: 100px;
    left: 100px;
  }
}

/* TEST FOR BOOTSTRAP */ 


.poke-api-logo {
  margin-right: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
}

header p {
  padding-top: 2rem;
  padding-bottom: 0;
}

header a:hover {
  animation: shake 0.6s infinite;
  cursor: pointer;
}

.poke-ball-img {
  margin: 0 20% 5% 46%;
}
.poke-ball-img:hover {
  animation: shake 0.6s infinite;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(0px,0px) rotate(0deg);
  }
  25% {
    transform: translate(1px,1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px,-1px) rotate(-1deg);
  }
  75% {
    transform: translate(2px,-1px) rotate(2deg);
  }
  100% {
    transform: translate(-1px,1px) rotate(-1deg);
  }
}

.logo-container {
  margin-left: 30%;
  display: flex;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}