body {
    font-family: 'Roboto', sans-serif;
}

.pokemon-button {
    background-color: rgba(230, 100, 150, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 10px;
}